@import '../../globals';

$footerHeight: 25px;
$keyboardToggleBorder: 1px solid #222;
$keyboardToggleBorderRadius: 5px;
$keyboardToggleWidth: 80;

.bounds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: $footerHeight;
  pointer-events: none;
}

.keyboard-button {
  background-color: #696969;
  border-top: $keyboardToggleBorder;
  border-right: $keyboardToggleBorder;
  border-left: $keyboardToggleBorder;
  border-radius: $keyboardToggleBorderRadius $keyboardToggleBorderRadius 0 0;
  bottom: $footerHeight;
  color: #FFF;
  cursor: pointer;
  font-size: 12px;
  left: 50%;
  margin-left: -($keyboardToggleWidth / 2) + unquote('px');
  padding-bottom: 2px;
  position: absolute;
  text-align: center;
  user-select: none;
  width: $keyboardToggleWidth + unquote('px');
}

.keyboard-wrapper {
  position: absolute;
  bottom: $footerHeight;
  left: 50%;
  margin-left: -($keyboardWidth / 2) + unquote('px');
}
