@import '../../../../globals';

$keyboardBorderColor: #111;

@mixin keyboard-size-mixin($width, $height, $keyframes) {
  width: $width + unquote('px');
  height: $height + unquote('px');
  animation: $keyframes 1s;
  animation-fill-mode: forwards; // retains animation on completion
}

.keyboard {
  max-height: 0;
  background-color: #222;
  border: 3px solid $keyboardBorderColor;
  border-radius: 5px;
  box-shadow: 4px 4px 5px #888;
  color: #FFF;
  opacity: 0.85;
  overflow: hidden;
  user-select: none;
}

:host-context(.keyboard-size.keyboard-small) .keyboard {
  @include keyboard-size-mixin($keyboardSmallWidth, $keyboardSmallHeight, slide-keyboard-up-small);
}

:host-context(.keyboard-size.keyboard-medium) .keyboard {
  @include keyboard-size-mixin($keyboardMediumWidth, $keyboardMediumHeight, slide-keyboard-up-medium);
}

:host-context(.keyboard-size.keyboard-large) .keyboard {
  @include keyboard-size-mixin($keyboardLargeWidth, $keyboardLargeHeight, slide-keyboard-up-large);
}

@mixin slide-keyboard-up-mixin($height) {
  from {
    max-height: 0;
  }
  to {
    max-height: $height + unquote('px');
  }
}

@keyframes slide-keyboard-up-small {
  @include slide-keyboard-up-mixin($keyboardSmallHeight);
}

@keyframes slide-keyboard-up-medium {
  @include slide-keyboard-up-mixin($keyboardMediumHeight);
}

@keyframes slide-keyboard-up-large {
  @include slide-keyboard-up-mixin($keyboardLargeHeight);
}

.keyboard-controls {

  padding-bottom: 4px;
  color: #eee;

  .keyboard-control-group {
    margin-right: 20px;

    &:nth-child(1) {
      margin-right: 5px;
    }

    .keyboard-control {
      padding: 4px 5px 3px;
      cursor: pointer;

      &.disabled {
        opacity: 0.4;
      }

      .next-input {
        position: relative;
        left: -1px;
      }
    }
  }
}

.keyboard-drag-handle {
  background-color: #444;
  padding-left: 10px;
  border-bottom: 2px solid $keyboardBorderColor;
  padding-bottom: 2px;
}

.keyboard-row {
  clear: both;
}

@mixin keyboard-row-indent-mixin($keySize, $keyMargin, $factor) {
  $rowIndent: ($keySize + $keyMargin) / 2;
  margin-left: ($rowIndent * $factor) + unquote('px');
}

:host-context(.keyboard-size.keyboard-small) .keyboard-row-2 {
  @include keyboard-row-indent-mixin($keyboardSmallKeySize, $keyboardSmallKeyMargin, 1);
}

:host-context(.keyboard-size.keyboard-medium) .keyboard-row-2 {
  @include keyboard-row-indent-mixin($keyboardMediumKeySize, $keyboardMediumKeyMargin, 1);
}

:host-context(.keyboard-size.keyboard-large) .keyboard-row-2 {
  @include keyboard-row-indent-mixin($keyboardLargeKeySize, $keyboardLargeKeyMargin, 1);
}

:host-context(.keyboard-size.keyboard-small) .keyboard-row-4 {
  @include keyboard-row-indent-mixin($keyboardSmallKeySize, $keyboardSmallKeyMargin, 3);
}

:host-context(.keyboard-size.keyboard-medium) .keyboard-row-4 {
  @include keyboard-row-indent-mixin($keyboardMediumKeySize, $keyboardMediumKeyMargin, 3);
}

:host-context(.keyboard-size.keyboard-large) .keyboard-row-4 {
  @include keyboard-row-indent-mixin($keyboardLargeKeySize, $keyboardLargeKeyMargin, 3);
}
