.bot-eyes {
  width: 200px;
  position: absolute;
  margin-left: 75px;
  margin-top: -149px;

  img.bot-eye {
    cursor: pointer;
    height: 40px;
    width: 40px;
  }

  img.bot-eye.left {
    position: relative;
    right: 28px;
  }

  img.bot-eye.right {
    position: relative;
    left: 27px;
  }
}
