img.blank-board {
  padding-left: 25px;
  padding-right: 25px;
  width: 350px;
  height: 400px;
}

.board-text {
  position: absolute;
  transform: rotate(-18deg);
  font-size: 1.5rem;
  width: 131px;
}

.board-text-1 {
  margin-top: -250px;
  margin-left: 102px;
}

.board-text-2 {
  margin-top: -221px;
  margin-left: 112px;
}
