<div class="cookie-policy">

  <div class="cookies-image">
    <img alt="Cookies" src="/assets/images/cookies/cookies-tiny.png">
  </div>

  <h4 class="heading">Cookie Policy</h4>

  <p>
    Cookies are small text files that are stored on your computer's browser directory.
    They help us to monitor site traffic and to aid the log in process.
  </p>

  <p>
    Cookies cannot harm your computer. We <strong>do not</strong> use cookies to personally identify who you are <strong>nor</strong> to collect sensitive
    information.
  </p>

  <h4 class="heading">Our Cookies</h4>

  <table class="table table-striped">
    <tr>
      <th>Cookie Name</th>
      <th>Purpose</th>
    </tr>
    <tr>
      <td>jwt</td>
      <td>Essential for site use. Remembers which user is logged in.</td>
    </tr>
    <tr>
      <td>utm cookies</td>
      <td>Google Analytics uses these to track website usage.</td>
    </tr>
  </table>

  <div class="back-button">
    <button class="btn btn-primary" (click)="onBack()">Back</button>
  </div>
</div>
