:host-context(.keyboard-size.keyboard-small) {

  // caps

  .key.caps .text {
    font-size: 16px;
    top: 0;
  }

  // backspace and enter

  .key.backspace .text {
    font-size: 13px;
    top: -2px;
  }

  .key.enter .text {
    font-size: 13px;
    top: -3px;
  }

  // left and right

  .key.direction .text {
    // font-size
    top: -1px;
  }

  .key.left .text {
    left: -1px;
  }

  .key.right .text {
    right: -1px;
  }
}

:host-context(.keyboard-size.keyboard-medium) {

  // caps

  .key.caps .text {
    font-size: 18px;
    top: 1px;
  }

  // backspace and enter

  .key.backspace .text {
    font-size: 15px;
    top: 0;
  }

  .key.enter .text {
    font-size: 15px;
    top: 0;
  }

  // left and right

  .key.direction .text {
    font-size: 20px;
    top: -3px;
  }

  .key.left .text {
    left: -1px;
  }

  .key.right .text {
    right: -1px;
  }
}

:host-context(.keyboard-size.keyboard-large) {

  // caps

  .key.caps .text {
    font-size: 20px;
    top: 0;
  }

  // backspace and enter

  .key.backspace .text {
    font-size: 18px;
    top: 2px;
  }

  .key.enter .text {
    font-size: 18px;
    top: 2px;
  }

  // left and right

  .key.direction .text {
    font-size: 20px;
    top: -1px;
  }

  .key.left .text {
    left: -1px;
  }

  .key.right .text {
    right: -1px;
  }
}
