@import '../../../../../globals';

@mixin key-mixin($keyMargin, $keySize) {
  margin-left: $keyMargin + unquote('px');
  margin-top: $keyMargin + unquote('px');
  width: $keySize + unquote('px');
  height: $keySize + unquote('px');
}

:host-context(.keyboard-size.keyboard-small) .key {
  @include key-mixin($keyboardSmallKeyMargin, $keyboardSmallKeySize);
}

:host-context(.keyboard-size.keyboard-medium) .key {
  @include key-mixin($keyboardMediumKeyMargin, $keyboardMediumKeySize);
}

:host-context(.keyboard-size.keyboard-large) .key {
  @include key-mixin($keyboardLargeKeyMargin, $keyboardLargeKeySize);
}

.key {
  background-color: #0C1011;
  border: 1px solid #000;
  border-radius: 5px;
  color: #DDD;
  cursor: pointer;
  float: left;
  font-family: sans-serif;
  text-align: center;
}

.key:hover {
  background-color: #000;
  color: #FFF;
}

.key .text {
  position: relative;
}

// blank

.key.blank {
  background-color: #383838;
  cursor: default;
}

// caps

.key.caps {
  position: absolute;
  left: 0;
  margin-top: -1px !important;
  background-color: transparent;
  border: none;
  transition: transform 300ms linear;
}

.spin-up {
  transform: rotate(0deg);
}

.spin-down {
  transform: rotate(180deg);
}

// backspace and enter

@mixin key-big-mixin($keySize) {
  width: ($keySize * 1.8) + unquote('px');
}

:host-context(.keyboard-size.keyboard-small) .key.big {
  @include key-big-mixin($keyboardSmallKeySize);
}

:host-context(.keyboard-size.keyboard-medium) .key.big {
  @include key-big-mixin($keyboardMediumKeySize);
}

:host-context(.keyboard-size.keyboard-large) .key.big {
  @include key-big-mixin($keyboardLargeKeySize);
}
