:host-context(
  .keyboard-size.keyboard-small.keyboard-font-english.keyboard-font-english-alternative,
  .keyboard-size.keyboard-small.keyboard-font-hebrew.keyboard-font-hebrew-alternative
) {

  .key {
    font-family: monospace;
  }

  // char keys

  // also applies to numbers
  .key.en.upper .text {
    font-size: 16px;
    top: -2px;
  }

  .key.en.lower .text {
    font-size: 16px;
    top: -3px;
  }

  .key.he .text {
    font-family: serif;
    font-size: 18px;
    top: -4px;
  }

  // hebrew vowel keys

  .key.he.vowel {
    .text {
      font-size: 44px;
      top: -43px;
      left: -6px;
    }

    .text.sheva {
      left: -1px;
    }

    .text.hataf-segol {
    }

    .text.hataf-patah {
    }

    .text.hataf-qamats {
    }

    .text.hiriq {
      top: -35px;
      left: -1px;
    }

    .text.tsere {
      left: -3px;
    }

    .text.segol {
      left: -3px;
    }

    .text.patah {
      top: -45px;
      left: -4px;
    }

    .text.qamats {
      top: -44px;
      left: -3px;
    }

    .text.sin-dot {
      top: -15px;
      left: -4px;
    }

    .text.shin-dot {
      top: -15px;
      left: -10px;
    }

    .text.holem {
      top: -14px;
      left: 0;
    }

    .text.dagesh {
      top: -26px;
      // left
    }

    .text.qubbuts {
      // font-size
      // left
    }

    .text.holem-vav {
      font-size: 18px;
      top: -4px;
      left: 1px;
    }

    .text.shuruq {
      font-size: 18px;
      top: -4px;
      left: 1px;
    }
  }
}
