:host-context(.keyboard-size.keyboard-small) {

  .key {
    font-family: sans-serif;
  }

  // caps

  .key.caps .text {
    font-size: 16px;
    top: 0;
  }

  // backspace and enter

  .key.backspace .text {
    font-size: 13px;
    top: -2px;
  }

  .key.enter .text {
    font-size: 13px;
    top: -3px;
  }

  // left and right

  .key.direction .text {
    // font-size
    top: -1px;
  }

  .key.left .text {
    left: -1px;
  }

  .key.right .text {
    right: -1px;
  }

  // char keys

  // also applies to numbers
  .key.en.upper .text {
    font-size: 13px;
    top: -2px;
  }

  .key.en.lower .text {
    font-size: 15px;
    top: -2px;
  }

  .key.he .text {
    font-size: 16px;
    top: -3px;
  }

  // hebrew vowel keys

  .key.he.vowel {
    .text {
      font-size: 36px;
      top: -33px;
      left: -5px;
    }

    .text.sheva {
      left: -1px;
    }

    .text.hataf-segol {
    }

    .text.hataf-patah {
    }

    .text.hataf-qamats {
    }

    .text.hiriq {
      top: -26px;
      left: -1px;
    }

    .text.tsere {
      left: -3px;
    }

    .text.segol {
      left: -3px;
    }

    .text.patah {
      top: -32px;
      left: -3px;
    }

    .text.qamats {
      // top
      left: -3px;
    }

    .text.sin-dot {
      top: -13px;
      left: -2px;
    }

    .text.shin-dot {
      top: -13px;
      left: -9px;
    }

    .text.holem {
      top: -14px;
      left: 0;
    }

    .text.dagesh {
      top: -18px;
    }

    .text.qubbuts {
      // font-size
    }

    .text.holem-vav {
      font-size: 16px;
      top: -3px;
      left: 0;
    }

    .text.shuruq {
      font-size: 16px;
      top: -3px;
      left: 0;
    }
  }
}
