.user-finder-wrapper {
  text-align: center;
  user-select: none;
}

img.app-image {
  margin-top: 25px;
  position: relative;
  right: 2px;
  width: 506px;
  height: 119px;
}

.user-finder {
  position: relative;
  top: -65px;
  display: inline-block;
}

form {
  margin-top: -25px;
}

.forget-wrapper {
  margin-bottom: -13px;
}

.enable-password-manager {
  margin-top: -60px;
}
