@import '../../../globals';

.input-group-eye {
  cursor: pointer;

  .input-group-text {
    background-color: #F9F9F9;
  }

  .eye {
    color: $lightestGreyOnWhite;

    &.disabled {
      opacity: 0.5;
    }
  }
}
