<div class="form-row">
  <div class="col-8 mb-3 offset-2">
    <div class="input-group">
      <input #passwordInput appInputBlur (appInputBlurValue)="onPasswordChange($event)" (appInputBlurEnter)="onEnter($event)"
             class="form-control gentle-shade" spellcheck="false" [autocomplete]="strAutocomplete"
             name="bhPassword" #bhPassword="ngModel" placeholder="Password" aria-label="Password" id="password"
             minlength="6" maxlength="15" required="required" [pattern]="pattern"
             [ngModel]="password" (ngModelChange)="onPasswordChange($event)" (keyup.enter)="onEnter($event)"
             [type]="showPassword ? 'text' : 'password'">
      <div class="input-group-append input-group-eye" (mousedown)="showPwd()" (mouseup)="noShowPwd()" (mouseleave)="noShowPwd()">
        <span class="input-group-text"><fa-icon class="eye" [ngClass]="{disabled: !password.length}" [icon]="'eye'"></fa-icon></span>
      </div>
    </div>
  </div>
  <div class="col-2 mb-3">
    <ng-container *ngIf="!bhPassword.errors && !forceFailure && !hideFeedback">
      <fa-icon class="success-tick" [icon]="'check'"></fa-icon>
    </ng-container>
    <ng-container *ngIf="(bhPassword.errors?.pattern || forceFailure) && !hideFeedback">
      <fa-icon class="failure-cross" [icon]="'times'"></fa-icon>
    </ng-container>
  </div>
</div>
