<div [ngDraggable] #block="ngDraggable" class="keyboard" [bounds]="bounds" [inBounds]="true" [handle]="keyboardDragHandle" (endOffset)="onEndOffset($event)">
  <div #keyboardDragHandle class="keyboard-drag-handle">
    <span>{{ hasBeenDragged ? 'keyboard' : 'draggable keyboard' }}</span>
    <div class="float-right">
      <fa-icon class="window-control" [ngClass]="{disabled: !hasMoved}" (click)="onMinimise()" [icon]="faWindowMinimize"></fa-icon>
      <fa-icon class="window-control" (click)="onCloseKeyboard()" [icon]="faWindowClose"></fa-icon>
    </div>
  </div>
  <div class="keyboard-keys">
  </div>
</div>
