<ng-container *ngIf="allowAccess && whoAmICheck != null">

  <ng-container *ngIf="user; else noUser">
    <div class="animated fadeIn">
      <app-navbar></app-navbar>
      <app-outlet-wrapper>
        <router-outlet></router-outlet>
      </app-outlet-wrapper>
    </div>
  </ng-container>

  <ng-template #noUser>
    <ng-container *ngIf="!signUpInProgress; else signUp">
      <app-login></app-login>
    </ng-container>
    <ng-template #signUp>
      <app-signup></app-signup>
    </ng-template>
  </ng-template>

</ng-container>

<ng-container *ngIf="!allowAccess && supported === 'partial'">
  <div class="proceed animated fadeIn delay-1s slower">
    <div class="warning">
      I understand that, if I proceed without using a supported browser, user experience may be suboptimal
    </div>
    <div class="anyway">
      <span class="fake-link" (click)="proceedAnyway()">Proceed Anyway</span>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="allowAccess && whoAmICheck != null">
  <app-keyboard-launcher></app-keyboard-launcher>
  <app-footer></app-footer>
</ng-container>
