$bodyMinWidth: 900px;

$bhBlue: #416d9a;
$bhLightBlue: lighten(#416d9a, 5%);
$bhOrange: #ad4a14;
$bhLightOrange: lighten(#ad4a14, 5%);
$successGreen: #029E54;
$failureRed: #AD0000;
$lightestGreyOnWhite: #767676;

$keyboardSmallWidth: 422;
$keyboardSmallHeight: 152;

$keyboardSmallKeyMargin: 4;
$keyboardSmallKeySize: 22;
