$bodyMinWidth: 900px;

$bhBlue: #416d9a;
$bhLightBlue: lighten(#416d9a, 5%);
$bhOrange: #ad4a14;
$bhLightOrange: lighten(#ad4a14, 5%);
$successGreen: #029E54;
$failureRed: #AD0000;
$lightestGreyOnWhite: #767676;

$keyboardSmallWidth: 422;
$keyboardSmallHeight: 152;
$keyboardSmallKeyMargin: 6;
$keyboardSmallKeySize: 22;

$keyboardMediumWidth: 481;
$keyboardMediumHeight: 168;
$keyboardMediumKeyMargin: 6;
$keyboardMediumKeySize: 26;

$keyboardLargeWidth: 541;
$keyboardLargeHeight: 184;
$keyboardLargeKeyMargin: 6;
$keyboardLargeKeySize: 30;
