<footer class="footer fixed-bottom">

  <div class="row">
    <div class="col">
      <div class="text-left">
        <span class="copyright"><strong>Copyright</strong> WebWare Solutions Ltd &copy; {{ year }}</span>
      </div>
    </div>
    <div class="col">
      <div class="text-right">
        <span class="call-us"><strong>Call us on <a class="small" href="tel:+447773310691">+44 (0)7773 310691</a></strong></span>
        <span class="version">Biblical Hebrew <strong>v{{ version }}</strong></span>
      </div>
    </div>
  </div>

</footer>
