.bot-eyes {
  width: 200px;
  position: absolute;
  margin-left: 75px;
  margin-top: -149px;

  .bot-eye {
    cursor: pointer;
  }

  .bot-eye.left {
    position: relative;
    right: 28px;
  }

  .bot-eye.right {
    position: relative;
    left: 27px;
  }
}
