.user-finder-wrapper {
  text-align: center;
  user-select: none;
}

img.biblical-hebrew {
  margin-top: 25px;
}

.user-finder {
  position: relative;
  top: -65px;
  display: inline-block;
}

form {
  margin-top: -25px;
}

.forget-wrapper {
  margin-bottom: -14px;
}

.enable-password-manager {
  margin-top: -60px;
}
