<app-animate-in-out-wrapper [animateNow]="animateLoginNow">
  <div class="user-finder-wrapper">

    <!-- Biblical Hebrew image -->
    <div>
      <img alt="Biblical Hebrew" class="biblical-hebrew animated bounceInDown delay-2s"
           src="/assets/images/biblical-hebrew/biblical-hebrew-darken-orange-5-tiny.png">
    </div>

    <div class="user-finder">

      <!-- Board and text -->
      <app-blank-board [boardText1]="boardText1" [boardText2]="boardText2" [showBoardText]="!boardTextUpdateInProgress && !usernameUpdateInProgress">
      </app-blank-board>

      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()" novalidate>

        <!-- Forget -->
        <div class="forget-wrapper">
          <div class="form-row">
            <div class="col-8 mb-3 offset-2">
              <div class="text-right">
                <span class="fake-link" [ngClass]="{invisible: !bhUsername.pristine || !user.username}" (click)="onForget()">
                  forget {{ user.username }}
                </span>
              </div>
            </div>
            <div class="col-2 mb-3">&nbsp;</div>
          </div>
        </div>

        <!-- Username -->
        <div class="form-row">
          <div class="col-8 mb-3 offset-2">
            <div class="input-group">
              <input #usernameInput class="form-control" spellcheck="false" autofocus
                     name="bhUsername" #bhUsername="ngModel" placeholder="Username" aria-label="Username"
                     minlength="3" maxlength="15" required="required" [pattern]="pattern"
                     [ngModel]="user.username" (ngModelChange)="onUsernameChangeNoDebounce($event)" (keyup.enter)="onEnter($event)">
            </div>
          </div>
          <div class="col-2 mb-3">
            <ng-container *ngIf="!bhUsername.errors">
              <fa-icon class="success-tick" [icon]="faCheck"></fa-icon>
            </ng-container>
            <ng-container *ngIf="bhUsername.errors?.pattern">
              <fa-icon class="failure-cross" [icon]="faTimes"></fa-icon>
            </ng-container>
          </div>
        </div>

        <!-- Password -->
        <app-password [forceFailure]="badCredentials" (enterKeyPress)="onEnter($event)" (passwordChange)="onPasswordChange($event)"></app-password>

        <!-- Submit -->
        <div class="form-row">
          <div class="col-8 mb-3 offset-2">
            <button #submitButton type="submit" class="btn btn-primary"
                    [disabled]="!loginForm.valid || badCredentials || loginInProgress || usernameUpdateInProgress || alternativeUsernameUpdateInProgress">
              <span>{{ userExists === 'yes' && !usernameUpdateInProgress && !alternativeUsernameUpdateInProgress ? 'Login' : 'Submit' }}</span>
            </button>
          </div>
          <div class="col-2 mb-3">&nbsp;</div>
        </div>

      </form>

      <!-- Small print -->
      <div class="row">
        <div class="col-8 mb-3 offset-2">
          <div class="small-print">
            <div><strong class="small-print-strong">Enter a username and password.</strong> Existing users can login.</div>
            <div>First time visitors may create a new account here.</div>
          </div>
        </div>
        <div class="col-2 mb-3">&nbsp;</div>
      </div>
    </div>

    <!-- Enable password manager -->
    <!--<ng-container *ngIf="webkitAutofillUsed">-->
    <!--<div class="enable-password-manager">-->
    <!--<a href=".">enable password manager</a>-->
    <!--</div>-->
    <!--</ng-container>-->

  </div>
</app-animate-in-out-wrapper>
