@import '~bootswatch/dist/spacelab/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/spacelab/bootswatch';
@import 'styles/cross-browser';

html {
  overflow-y: scroll;
}

html.supported .unsupported {
  display: none;
}

body {
  min-width: 750px;
}

.cursor-pointer {
  cursor: pointer;
}
