@import 'app/globals';
@import '~bootswatch/dist/spacelab/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/spacelab/bootswatch';
@import 'styles/cross-browser';

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

html.supported .unsupported, html.partial.proceed .unsupported {
  display: none;
}

body {
  min-width: $bodyMinWidth;
  color: $lightestGreyOnWhite;
  text-rendering: optimizeLegibility;
}

button.btn {
  min-width: 80px;
}

input.gentle-shade {
  background-color: lighten(#E8F0FE, 3%) !important;
}

input[type=checkbox] {
  transform: scale(1.5);
}

.success-tick, .failure-cross {
  font-size: 1.5em;
}

.success, .success-tick {
  color: $successGreen;
}

.failure, .failure-cross {
  color: $failureRed;
}

.small-print {
  font-size: 0.8em;
  margin: 5px -150px 0;
}

a, .fake-link {
  &.small {
    font-size: 0.9em;
  }

  color: $bhBlue;

  &:hover {
    color: $bhBlue;
  }
}

.fake-link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.rtl {
  direction: rtl;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  color: #6E6E6E;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  color: $lightestGreyOnWhite;
}
