@import '../../../globals';

.cookie-policy {
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 700px;
  user-select: none;
}

.cookies-image {
  margin-top: 25px;
  margin-bottom: 20px;
  text-align: center;

  img.cookies {
    width: 300px;
    height: 133px;
  }
}

.heading {
  color: $bhOrange;
  margin-bottom: 15px;
}

.back-button {
  margin-top: 25px;
  margin-bottom: 40px;
  text-align: center;
}
